body {
    background: #333;
    color: #fff; 
}
  
  .navbar {
    border-bottom: 3px solid #008ed6;
    background: #292b2c;
    opacity: 0.8;
 }

 #hero{
     background: url("../image/home.jpg") no-repeat center top;
     background-size: cover;
     background-attachment: fixed;
     min-height: 700px;
 }
 #hero .hero-section{
     background: rgba(0, 0, 0, .7);
     min-height: 700px;
 }

 .card-form{
     opacity: .8 ;
 }

 .hero-body{
    padding-top: 100px;
    padding-bottom: 50px;
 }







